.footer {
  background-color: #eef2e6;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.markdown {
  white-space: pre-wrap;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.butonContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footerLink {
  line-height: 2.5rem;
  text-decoration: none;
  transition: 0.3s;
}

.footerLink:hover {
  color: var(--tertiary);
}
