.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px var(--primary) solid;
  border-radius: 15px;
  box-shadow: var(--shadow);
  margin-bottom: 5px;
  padding: 0.5rem;
}

.price {
  font-size: 1.5rem;
  line-height: 2.3rem;
  font-weight: 600;
  color: var(--primary);
}

.priceInfo {
  padding: 0.1rem;
}
