.blogBox {
  min-width: 250px;
}

.thumbImageBox {
  border-radius: 5px 5px 0 0;
  height: 240px;
  overflow: hidden;
  position: relative;
}

.textBox {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 10rem;
  padding: 0.7rem;
}
