.camperBox {
  padding: 2rem;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex: 3;
}

.camperBox h2 {
  text-align: center;
}

.iconBox {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0.5rem 0;
}
.topBox {
  display: flex;
  flex: 2;
  flex-direction: column;
  align-items: center;
}

.imageWrapper {
  margin-bottom: 2rem;
  border-radius: 10px;
  width: 250px;
  height: 166px;
  overflow: hidden;
}

.imageWrapper span:hover {
  transform: scale(1.3);
  transition: 0.5s ease-out;
}

.bottomBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 130px;
}
