.thumbs {
  max-width: 900px;
  margin: 30px auto;
  padding: 0 100px;
  position: relative;
  display: flex;
  gap: 10px;
}

.thumb {
  width: 100px;
  height: 66px;
  padding: 2px;
  box-sizing: border-box;
  cursor: pointer;

  position: relative;
}

.mainGalleryBox {
  position: relative;
  width: 700px;
  height: 466px;
}

.btnPrev {
  position: absolute;
  left: 1%;
  top: 50%;
  transform: translateY(-50%);
}

.btnNext {
  position: absolute;
  right: 1%;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 600px) {
  .mainGalleryBox {
    width: 400px;
    height: 266px;
  }
  .thumbs {
    padding: 0 50px;
  }
}
@media (max-width: 400px) {
  .mainGalleryBox {
    width: 320px;
    height: 213px;
  }
}
