.accordion {
  border: 1px solid var(--primary);
}
.accordion:not(:last-child) {
  border-bottom: 0;
}
.accordion:before {
  display: none;
}

.accordionDetails {
  background-color: var(--bg-light);
}

.faqQuestion {
  font-size: clamp(1.125rem, 1vw + 1rem, 1.6rem);
  font-weight: 400;
}
