.camperDetailsBox {
  max-height: calc(100vh - 10rem);
  overflow: auto;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgb(27 64 67 / 10%);
  max-width: 400px;
  padding-top: 2.25rem;
}
